body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 60px;
    text-align: center;
}

h2 {
    margin-top: 0;
    color: #333;
}

#yes {
    padding: 10px 40px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
}

#no {
    padding: 10px 40px;
    color: #fff;
    background-color: red;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: top 0.5s ease, left 0.5s ease;
}

.hovered {
    transition: none;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    font-weight: 600;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
